.Main
  .RightHeader
    .RightHeader__group
      .RightHeader__group__groupName
        test
      %ul.RightHeader__group__memberList
        Member
        =":"
        %li.RightHeader__group__member
        masa
    = link_to "#", class: "RightHeader__editButton" do
      Edit