.Main
  .RightHeader
    .RightHeader__group
      .RightHeader__group__groupName
        test
      %ul.RightHeader__group__memberList
        Member
        =":"
        %li.RightHeader__group__member
        masa
    = link_to "#", class: "RightHeader__editButton" do
      Edit
  .MessageList
    .MessageBox
      .MessageBox__messageInfo
        .MessageBox__messageInfo__userName
          masa
        .MessageBox__messageInfo__date
          2019/11/20(Wed) 17:43:01
      .MessageBox__message
        おはよう！
    .MessageBox
      .MessageBox__messageInfo
        .MessageBox__messageInfo__userName
          masa
        .MessageBox__messageInfo__date
          2019/11/20(Wed) 17:43:43
      .MessageBox__message
        今日は夜から雨