.MessageBox{data: {message: {id: message.id}}}
  .MessageBox__messageInfo
    .MessageBox__messageInfo__userName
      = message.user.name
    .MessageBox__messageInfo__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .MessageBox__message
    - if message.content.present?
      %p.Messagebox__content
        = message.content
    = image_tag message.image.url, class: 'Messagebox__image' if message.image.present?