.Side
  .LeftHeader
    .LeftHeader__topItems
      %h3.LeftHeader__topItems__userName
        masa
      .LeftHeader__topItems__icons
        = icon('fas', 'edit')
        = icon('fas', 'cog')
  .GroupList
    .GroupList__groupBox
      .GroupList__groupBox__groupName
        test
      .GroupList__groupBox__latestMessage
        まだメッセージがありません