* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.Side {
  width: 300px;
  background-color: #253141;
  .LeftHeader {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__topItems {
      width: 100%;
      color: #fff;
      display: flex;
      justify-content: space-between;
      &__userName {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  .GroupList {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    &__groupBox {
      width: 100%;
      padding: 20px 20px 40px;
      color: white;
      &__groupName {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__latestMessage {
        font-size: 11px;
      }
    }
  }
}

.Main {
  width: calc(100vw - 300px);
  background-color: #fff;
  .RightHeader {
    height: 100px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    &__group {
      margin: 35px 0 0 40px;
      &__groupName {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      &__memberList {
        font-size: 12px;
        color: #999;
        display: flex;
      }
    }
    &__editButton {
      width: 72px;
      height: 40px;
      color: #38aef0;
      border: 1px solid #38aef0;
      font-size: 16px;
      margin: 28px 40px 0 0;
      padding: 0 20px;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
  }
}