* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.Side {
  width: 300px;
  background-color: #253141;
  .LeftHeader {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__topItems {
      width: 100%;
      color: #fff;
      display: flex;
      justify-content: space-between;
      &__userName {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  .GroupList {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    &__groupBox {
      width: 100%;
      padding: 20px 20px 40px;
      color: white;
      &__groupName {
        font-size: 15px;
        margin-bottom: 5px;
      }
    }
  }
}